<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showArr</key>
	<array>
		<dict>
			<key>icon</key>
			<string>http://i9.qhimg.com/dr/200__/t019988d7276d0d8274.jpg</string>
			<key>name</key>
			<string>熊熊</string>
			<key>createTime</key>
			<string>2016-12-12</string>
			<key>content</key>
			<string>某大学留言板上的顺口溜：上课是不听的，下课是消失的;考好是意外的，重修是常在的;成绩是心寒的，毕业是迟早的。</string>
			<key>videoUrl</key>
			<string>http://flv2.bn.netease.com/videolib3/1612/16/IfOvH1487/SD/IfOvH1487-mobile.mp4</string>
			<key>playNums</key>
			<string>34</string>
			<key>shares</key>
			<string>66</string>
			<key>comments</key>
			<string>34</string>
			<key>praises</key>
			<string>14</string>
			<key>coverUrl</key>
			<string>http://vimg2.ws.126.net/image/snapshot/2016/12/G/O/VC7FGKRGO.jpg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://vimg3.ws.126.net/image/snapshot/2016/9/9/G/VC136BF9G.jpg</string>
			<key>name</key>
			<string>动漫大师</string>
			<key>createTime</key>
			<string>2016-10-13</string>
			<key>content</key>
			<string>【AMV前前前世】未来我们是否能像梦中一样再次相遇</string>
			<key>videoUrl</key>
			<string>http://flv2.bn.netease.com/tvmrepo/2016/12/V/A/EC7CL3EVA/SD/EC7CL3EVA-mobile.mp4</string>
			<key>playNums</key>
			<string>74</string>
			<key>shares</key>
			<string>23</string>
			<key>comments</key>
			<string>44</string>
			<key>praises</key>
			<string>56</string>
			<key>coverUrl</key>
			<string>http://vimg1.ws.126.net/image/snapshot/2016/12/2/E/VC7FGJ82E.jpg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://vimg1.ws.126.net/image/snapshot/2016/9/M/G/VC00CREMG.jpg</string>
			<key>name</key>
			<string>天天猎奇</string>
			<key>createTime</key>
			<string>2016-11-09</string>
			<key>content</key>
			<string>这就是有女友和没女友的区别！太形象了有木有，有女友的同志们不要错过，没女友的同志们更不要错过哟！</string>
			<key>videoUrl</key>
			<string>http://ips.ifeng.com/video19.ifeng.com/video06/2012/08/01/04822d91-7751-406e-b338-0f978f74920d.mp4</string>
			<key>playNums</key>
			<string>23</string>
			<key>shares</key>
			<string>44</string>
			<key>comments</key>
			<string>23</string>
			<key>praises</key>
			<string>55</string>
			<key>coverUrl</key>
			<string>http://vimg3.ws.126.net/image/snapshot/2016/12/J/Q/VC7FGIRJQ.jpg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://vimg3.ws.126.net/image/snapshot/2016/9/7/E/VBUVE3N7E.jpg</string>
			<key>name</key>
			<string>熊熊</string>
			<key>createTime</key>
			<string>2016-09-12</string>
			<key>content</key>
			<string>中国传统收藏文化交流，为广大的中国收藏爱好者，提供文化知识交流。这点值得很多年轻人学习啊，不能目光短浅，只在乎眼下的利益，中国的传统文化你都继承了多少呢？</string>
			<key>videoUrl</key>
			<string>http://flv2.bn.netease.com/videolib3/1612/16/wYtUZ3164/SD/wYtUZ3164-mobile.mp4</string>
			<key>playNums</key>
			<string>65</string>
			<key>shares</key>
			<string>42</string>
			<key>comments</key>
			<string>23</string>
			<key>praises</key>
			<string>33</string>
			<key>coverUrl</key>
			<string>http://vimg2.ws.126.net/image/snapshot/2016/12/K/4/VC7FGGSK4.jpg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://vimg3.ws.126.net/image/snapshot/2016/3/9/C/VBHTHDD9C.jpg</string>
			<key>name</key>
			<string>微体社区</string>
			<key>createTime</key>
			<string>2016-10-10</string>
			<key>content</key>
			<string>【微体社区新媒体-微体兔美食频道】原创美食视频节目，用简单清新的风格与大家分享吃的小幸福，共同探索新的生活方式。</string>
			<key>videoUrl</key>
			<string>http://flv2.bn.netease.com/videolib3/1612/16/rhSnl4583/SD/rhSnl4583-mobile.mp4</string>
			<key>playNums</key>
			<string>345</string>
			<key>shares</key>
			<string>326</string>
			<key>comments</key>
			<string>344</string>
			<key>praises</key>
			<string>567</string>
			<key>coverUrl</key>
			<string>http://vimg2.ws.126.net/image/snapshot/2016/12/0/G/VC7FGEH0G.jpg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://vimg1.ws.126.net/image/snapshot/2016/12/S/2/VC7FGEFS2.jpg</string>
			<key>name</key>
			<string>桃子</string>
			<key>createTime</key>
			<string>2016-12-11</string>
			<key>content</key>
			<string>对面的女孩看过来，看过来，看过来，这里的故事很精彩，不会化妆的美眉要看哟～～化妆教程之韩式小清新妆容</string>
			<key>videoUrl</key>
			<string>http://flv2.bn.netease.com/videolib3/1612/16/FbDdt3197/SD/FbDdt3197-mobile.mp4</string>
			<key>playNums</key>
			<string>34</string>
			<key>shares</key>
			<string>44</string>
			<key>comments</key>
			<string>56</string>
			<key>praises</key>
			<string>53</string>
			<key>coverUrl</key>
			<string>http://vimg1.ws.126.net/image/snapshot/2016/12/S/2/VC7FGEFS2.jpg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://vimg1.ws.126.net/image/snapshot/2016/12/L/Q/VC7FG8CLQ.jpg</string>
			<key>name</key>
			<string>流行大榜单</string>
			<key>createTime</key>
			<string>2016-12-12</string>
			<key>content</key>
			<string>鄞雅茹深情演唱《还有眼泪就好》，听完好感动</string>
			<key>videoUrl</key>
			<string>http://flv2.bn.netease.com/tvmrepo/2016/12/Q/K/EC7DEAUQK/SD/EC7DEAUQK-mobile.mp4</string>
			<key>playNums</key>
			<string>456</string>
			<key>shares</key>
			<string>55</string>
			<key>comments</key>
			<string>64</string>
			<key>praises</key>
			<string>24</string>
			<key>coverUrl</key>
			<string>http://vimg1.ws.126.net/image/snapshot/2016/12/L/Q/VC7FG8CLQ.jpg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://vimg2.ws.126.net/image/snapshot/2016/12/V/I/VC7FGDKVI.jpg</string>
			<key>name</key>
			<string>追剧小达人</string>
			<key>createTime</key>
			<string>2016-12-12</string>
			<key>content</key>
			<string>前男友带着现女友炫耀，富家公子的救场行为太赞了</string>
			<key>videoUrl</key>
			<string>http://flv2.bn.netease.com/tvmrepo/2016/12/8/E/EC7FCQK8E/SD/EC7FCQK8E-mobile.mp4</string>
			<key>playNums</key>
			<string>502</string>
			<key>shares</key>
			<string>23</string>
			<key>comments</key>
			<string>90</string>
			<key>praises</key>
			<string>24</string>
			<key>coverUrl</key>
			<string>http://vimg1.ws.126.net/image/snapshot/2016/12/N/B/VC7FK29NB.jpg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://i9.qhimg.com/dr/200__/t019988d7276d0d8274.jpg</string>
			<key>name</key>
			<string>科技小子</string>
			<key>createTime</key>
			<string>2016-2-10</string>
			<key>content</key>
			<string>主人回家后狗狗就会特别热情，十几年对狗狗來说就是一辈子，对人类來说就是一个成长的过程！狗狗用不到一年來学会人类的大多数语言，并且要配合人类的各种指令与专业！这对狗狗來说太不容易！养狗的主人就好好珍惜吧</string>
			<key>videoUrl</key>
			<string>http://flv2.bn.netease.com/videolib3/1612/16/miJIB4256/SD/miJIB4256-mobile.mp4</string>
			<key>playNums</key>
			<string>243</string>
			<key>shares</key>
			<string>44</string>
			<key>comments</key>
			<string>56</string>
			<key>praises</key>
			<string>123</string>
			<key>coverUrl</key>
			<string>http://vimg1.ws.126.net/image/snapshot/2016/12/V/P/VC7FH7HVP.jpg</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>http://vimg1.ws.126.net/image/snapshot/2016/12/S/2/VC7FGEFS2.jpg</string>
			<key>name</key>
			<string>桃子新闻资讯</string>
			<key>createTime</key>
			<string>2016-12-15</string>
			<key>content</key>
			<string>杨桃骗丈夫要出差，殊不知自己已经背叛家庭！</string>
			<key>videoUrl</key>
			<string>http://flv2.bn.netease.com/videolib3/1612/16/rRLlJ3130/SD/rRLlJ3130-mobile.mp4</string>
			<key>playNums</key>
			<string>243</string>
			<key>shares</key>
			<string>44</string>
			<key>comments</key>
			<string>56</string>
			<key>praises</key>
			<string>123</string>
			<key>coverUrl</key>
			<string>http://vimg3.ws.126.net/image/snapshot/2016/12/O/A/VC7FK0TOA.jpg</string>
		</dict>
	</array>
</dict>
</plist>
